*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* shared css */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-noto-serif {
  font-family: 'Noto Serif', serif;
}
.container {
      width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
    }


/* nav bar */

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
h3{
    font-weight: 600;
    font-size: 2rem;
    color: #E95A08;
}
.nav-right{

}
.nav-links{
display: flex;
  gap: 18px;
}
.nav-item{
  list-style: none;

}
.nav-link{
     text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #8987A1;
}

.nav-links li:nth-child(1) .nav-link,
.nav-links li:nth-child(4) .nav-link {
  color: #111;
}

/* banner section */
    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin-top: 110px;
      margin-bottom: 50px;
      /* Flex-wrap: wrap; */
    }
    .banner-left h1 {
      font-weight: bold;  
      font-size: 3.5rem;
      color:#000000;
    }
    .banner-left p{
        font-weight:400;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);

    }
    .banner-left h1 span {
      Color: #E95A08;
    }
    .banner-right img {
      max-width: 570px;
      border-radius: 10px;
    }
/* our plants */
.plants-section{
    margin-top: 100px;
     margin-bottom: 100px;
}
.plants-uperpart{
   
}
.plants-text{
 text-align: center;
  margin-bottom: 30px;
}
.plants-text h2{
font-weight: 600;
font-size: 3.12rem;
}
.plants-text h2 span{
   Color: #E95A08;
 
}
.plants-text p{
 max-width: 655px;
font-weight: 400;
font-size:1rem;
color: rgba(0, 0, 0, 0.5);
 /* margin-left:250px ;  nicer tuko vip eta korer karone text center hoye jai*/
 margin: 0 auto;

}
.Plants-card{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 20px;
 
}
.card{
     /*agula VIP section sob jaigai use korte hoi  */
  /* padding: 0 px; */
  border-radius: 10px;
   display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
.card img{
       /*agula VIP section sob jaigai use korte hoi  */
    width: 100%;
  height: auto;
  display: block;
   object-fit: cover;
}
.card-text{
text-align: center;

/* eta bad dite paro */
  /*agula VIP section sob jaigai use korte hoi  */
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 16px;
  align-items: center;
  
  

}
.card-text h3{
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 1.37rem;
   color: #111111;
}

.card-text p{
font-family: 'Inter', sans-serif;
   font-weight: 700 !important;
   font-size: 1.37rem;
   color: #111111;
   margin: 0;
}

 button{
     font-family: 'Inter', sans-serif;
     font-size: 1rem;
     font-weight: 600;
   width: 100%;
  padding: 12px 0;
  background-color: #E95A08;
  color: white;
  border: none;
  font-weight: 400;
  
}

/* flower lover section */
.flower-lover{
  margin-top: 150px;
  margin-bottom: 20px;
}
.flower-lover-lr{
  /* border: 2px solid black; */
  margin-top: 100px;
    display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

}
.flower-lover-left{
  flex: 1;
  
}
.flower-lover-right{
 flex: 1;

}
.flower-lover-img {
  position: relative;
}
.flower-image {
  width: 100%;
  /* border-radius: 10px; */
  display: block;
}
 .logo {
  position: absolute;
  top: -120px;
  left:210px;
  width: 200px;
} 
.logo img {
  width: 100%;
  height: auto;
  display: block;
}


.flower-lover-right h3{
  font-weight: bold;  
      font-size: 2.5rem;
      color:#000000;
  margin-bottom: 15px;
}


.flower-lover-para {

}
.flower-lover-para ul{

}
.flower-lover-para li{
      font-weight: 400;
font-size:1rem;
color: rgba(0, 0, 0, 0.5);
margin-bottom: 10px;
}